/* Load Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Apply Roboto font to all elements */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

.markdown.landing h1 {
  font-size: 5em;
}

.markdown.landing h2 {
  font-size: 4em;
}

.markdown.landing h3 {
  font-size: 3em;
}

.markdown.landing h4 {
  font-size: 2em;
}
.markdown.landing p {
  font-size: 1.3em;
}

.markdown.landing li div span {
  font-size: 1.5rem !important;
}

.markdown.landing li div li div span {
  font-size: 1.2rem !important;
}

.markdown.landing #react-server {
  font-size: 7em;
}

.markdown.center {
  justify-content: center;
}

h1,
h2 {
  font-weight: 400;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
}

h1,
h2,
h3,
h4,
p,
li {
  color: #333333;
}

.bg2 h1,
.bg2 h2,
.bg2 h3,
.bg2 h4,
.bg2 p,
.bg2 li {
  color: #222222;
  text-shadow: 0px 0px 3px #dddddd;
}
/* Apply monospace Roboto font to pre code elements */
pre code {
  font-family: 'Roboto Mono', monospace;
}

pre {
  width: 100%;
}

code {
  font-family: 'Roboto Mono', monospace;
}

.bg1 {
  background: url('/bg-3.webp');
  background-size: cover;
}

.bg3 {
  background: url('/bg.webp');
  background-size: cover;
}

.bg4 {
  background: url('/bg-1.webp');
  background-size: cover;
}

.bg5 {
  background: url('/bg-2.webp');
  background-size: cover;
}

.bg6 {
  background: url('/bg-4.webp');
  background-size: cover;
}

.bg7 {
  background: url('/bg-5.webp');
  background-size: cover;
}

.bg8 {
  background: url('/bg-6.webp');
  background-size: cover;
}

pre {
  background: #1e1f2799;
  color: #ffffff;
  text-shadow: 1px 1px #000;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0px;
}
.light.bg1 .MuiPaper-root:not(.opaque),
.light.bg2 .MuiPaper-root:not(.opaque),
.light.bg3 .MuiPaper-root:not(.opaque),
.light.bg4 .MuiPaper-root:not(.opaque),
.light.bg5 .MuiPaper-root:not(.opaque),
.light.bg6 .MuiPaper-root:not(.opaque),
.light.bg7 .MuiPaper-root:not(.opaque),
.light.bg8 .MuiPaper-root:not(.opaque) {
  /* background-color: #1E1F27AA !important; */
  background-color: #ffffff33;
  backdrop-filter: blur(6px);
}

#bg {
  z-index: 0;
}

.vanta-canvas {
  width: 100% !important;
  height: 100% !important;
}

.recharts-tooltip-wrapper:focus {
  outline: none;
}

.MuiCard-root {
  display: flex;
  flex-direction: column;
}

.markdown > * {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
}

.markdown.preview > * {
  max-width: 70ch;
}

.markdown.center > :is(h1, h2, h3, h4, h5, h6) {
  text-align: center;
  max-width: 40ch;
  min-width: 100%;
}
.markdown > p {
  max-width: 70ch;

  /* text-overflow: ellipsis; */
  overflow: hidden;
  word-break: break-word;
  text-align: left;
}

.markdown > ul > li {
  max-width: 70ch;
  word-break: break-word;
  text-align: left;
}

.markdown.disablePadding > p {
  margin: 0px;
}

.markdown.center > ul,
.markdown.center > p {
  margin-left: auto;
  margin-right: auto;
}
.markdown.center > ul {
  width: fit-content;
  max-width: max-content;
}
.markdown-small p {
  margin: 0;
  font-size: 0.8rem;
}

.MuiCardHeader-action {
  margin: 0px !important;
  transform: translate(0px, -1px);
}
