/* Load Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Apply Roboto font to all elements */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0px;
  height: 100vh;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

h1,
h2 {
  font-weight: 400;
}
/* Apply monospace Roboto font to pre code elements */
pre code {
  font-family: 'Roboto Mono', monospace;
}

code {
  font-family: 'Roboto Mono', monospace;
}

#bg {
  background: url('/bg.png');
  background-size: cover;
}

pre {
  background: #1e1f2799;
  color: #ffffff;
  text-shadow: 1px 1px #000;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0px;
}
.light .MuiPaper-root:not(.opaque) {
  /* background-color: #1E1F27AA !important; */
  background-color: #ffffff33;
  backdrop-filter: blur(6px);
}

#bg {
  z-index: 0;
}

.recharts-tooltip-wrapper:focus {
  outline: none;
}

.MuiCard-root {
  display: flex;
  flex-direction: column;
}
